* {
  background-color: black;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}

h1 {
  color: white;
  font-size: 3rem;
}

p, em {
  color: white;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.788);
  color: white;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.678);
  color: white;
  padding: 10px;
  cursor: pointer;
}

